
*.txt
!requirements.txt

*.DS_Store
*.pyc

[0-9]*.jpg


*.jpg





############# For 100Exe pyinstaller files #####################





# Remove build folder
build/*

# Tage the folder i want to keep manually
!.gitkeep

# Remove most compile files under dist/

#   # Referenced:
#   # I've written a post about such problem recently. See here.
#   # Basically what you need is to put one .gitignore with *.json in the /data/ directory.
#   # UPD: Since git 1.8.4 (1.8.2 if you're using msysgit) it is possible to use double-star patterns, like /data/**/*.json

/100_Exe/**/*.so
/100_Exe/**/*.dylib

*.png

/env

97_Automation/SLOT_Classification_Version_01/work_tem/**/*.jpg
